.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid_container {
  display: flex;
  border: 1px solid magenta;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}
.grid_item {
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid black;
}
.how_it_works {
  border: 1px solid red;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rules {
  display: none;
}
@media (max-width: 768px) {
  .grid_container {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .grid_item {
    width: 20px;
    height: 20px;
    border: 1ox solid black;
    margin: 0;
    padding: 0;
  }
  .card_img {
    display: none;
  }
  .choices {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: space-between;
  }
  .how_it_works {
    display: none;
    width: 100%;
    background: purple;
  }
  .rules {
    display: inline;
    color: white;
  }
}
.main_container {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid lime;
  @media screen (max-width: 768x) {
    background-color: orange;
  }
}
.preset_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card_img {
  height: 75px;
  width: 75px;
}
